<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sevenstars.developerevent" android:installLocation="auto" android:versionName="1.1.2" android:versionCode="4">
	<PropertyGroup>
		<JavaMaximumHeapSize>1G</JavaMaximumHeapSize>
	</PropertyGroup>
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:label="Developer Event" android:icon="@drawable/ic_launcher">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCDbX-a4BJFd-Qae-KGBj6VVKTtHu1aTFk" />
		<application android:largeHeap="true"></application>
	</application>
</manifest>